<div id="<%= dom_id pet %>">
  <% if pet.photo.attached? %> 
    <p>
      <%= image_tag pet.photo, style: 'object-fit: cover;' %>
    </p>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>History:</strong>
    <%= raw(pet.history) %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= time_ago_in_words(pet.born) %>
  </p>

  <p>
    <strong>City:</strong>
    <%= pet.city %>
  </p>

</div>
