<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>History:</strong>
    <%= pet.history %>
  </p>

  <p>
    <strong>Born:</strong>
    <%= pet.born %>
  </p>

  <p>
    <strong>City:</strong>
    <%= pet.city %>
  </p>

</div>
